package views

import "github.com/lstig/liber/services/book"

templ Books(books []book.Book) {
	@layout("Books") {
		<h1 class="text-5xl font-bold">Books</h1>
		for _, book := range books {
			{ book.Title }
		}
	}
}
