@use "node_modules/bulma/sass";

@use "./css/reset.css";

html {
  font-family: system-ui;
  min-height: 100vh;
  min-height: 100dvh;
}

section.app-content {
    border-radius: 7px 0 0 0;
    min-height: calc(100vh - var(--bulma-navbar-height));
}
