@use "node_modules/bulma/sass";

@use "./css/reset.css";

section.fullheight {
    min-height: calc(100vh - var(--bulma-navbar-height));
}

html {
  font-family: system-ui;
  min-height: 100vh;
  min-height: 100dvh;
}

