package views

import "github.com/lstig/liber/internal/services/book"

templ Books(books []book.Book, props *GlobalProperties) {
	@layout("Books") {
		for _, book := range books {
			{ book.Title }
		}
	}
}
